h1{
    font-size: 70px;
    text-align: center;
    color: #9971de
    }
    
    p{
    font-size: 20px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    }
    
    body {
    background-color: #fad8f0;
    }